# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directory
build/*
cmake-build-debug/*
cmake-build-release/*

# IDE stuff
.idea
.vscode
.cache

instances/mps/scpn2.mps
instances/mps/scpm1.mps
instances/mps/scpl4.mps
instances/mps/scpk4.mps
instances/mps/scpj4scip.mps
instances/mps/ex1010-pi.mps
TODO.md
perf.data*
bench.sh
coverage